.Button
{
   
	-fx-background-color:rgba(51,61,103,0.5);
	-fx-border-color: #CEE0ED;
	 -fx-border-width:0px 0px 2px 0px;
}
.Button:hover
{
	-fx-border-color:#3E2EFC;
	-fx-border-width:3px 3px 3px 3px;
}
.Button:pressed

{
     -fx-border-color: #CEE0ED;
	 -fx-border-width:0px 0px 2px 0px;
     -fx-background-color: #4267A0;
}

